body , html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: url(./../images/dylan-nolte-SH_IjrKwG8c-unsplash.jpg);
    background-color: #80b18c;
    background-image: linear-gradient(to bottom right, #278999, #34a952);
    font-family:sans-serif;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        'logo    contacts'
        'section  section'
    ;

    main{
        grid-area: logo;
        color:#f0ece3 ;
        font-size: 30px;
        padding: 20px;

        span{
            font-size: 50px;
            font-weight: 800;
            font-family: initial;
            color: #df5e88;
        }
    }

    header {
     grid-area: contacts;
     display: flex;
     padding: 26px;

     ul {

        a {
             color: #f0ece3;
             text-decoration: none;
             font-size: 20px;
         }
     }
    }
 }
    // background: #70df79;

    section{
        grid-area: section;
        text-align: center;
        color: #f0ece3;
        margin: auto;
        width: 53%;

        .center{
            margin-bottom: 150px;
        }

        span.t{
            font-size: 50px;
            font-weight: 800;
            font-family: initial;
            color: #df5e88;
            font-size: 160px;
            height: 100px;
            width: 100px;
        }

        span.leader{
            color: #f0ece3;
            position: relative;
            left: -104px;
            top: -28px; 
            font-size: 48px;
            }

        p{
            font-size: 25px;
        }
    }

